.root {
    -fx-background-color: #000000;
    -fx-padding: 25px;
}

.label {
    -fx-background-color: #000000;
    -fx-text-fill: rgb(255, 255, 0);
    -fx-font-size: 7px;
}

.labelAIGhosts {
    -fx-font-size: 14px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.wall {
    -fx-background-color: #0000CD;
    -fx-text-alignment: center;
}

.title {
    -fx-background-color: #000000;
    -fx-text-fill: rgb(255, 255, 0);
    -fx-font-size: 33px;
    -fx-text-alignment: center;
    -fx-font-family: "Crack Man";
}

.points {
    -fx-background-color: #000000;
    -fx-text-fill: rgb(255, 255, 0);
    -fx-font-size: 23px;
    -fx-text-alignment: right;
}

.lives {
    -fx-background-color: #000000;
    -fx-text-fill: rgb(255, 255, 0);
    -fx-font-size: 23px;
    -fx-text-alignment: left;
}